.animation-target{
    opacity: 0;
    transition: 0.3s;
}
.active-animation{
    opacity: 1;
    transition: 0.3s;
}

.texto h2.animation-target, 
.texto h3.animation-target{
    transform: translateX(-30px);
}
.texto h2.active-animation, 
.texto h3.active-animation{
    transform: translateX(0);
}


.banner-imagem.animation-target{
    transform: translateX(30px);
}
.banner-imagem.active-animation{
    transform: translateX(0);
}


.box-sobre-mim.animation-target{
    transform: translateY(-70px);
}
.box-sobre-mim.active-animation{
    transform: translateY(0);
}


.texto-sobre h2.animation-target,
.texto-sobre p.animation-target{
    transform: translateX(-30px);
}
.texto-sobre h2.active-animation,
.texto-sobre p.active-animation{
    transition-delay: 0.1s;
    transform: translateX(0);
}
.icone-sobre.active-animation{
    transition-delay: .3s; 
    transform: translateX(0);
}


.dados-experiencia.animation-target{
    transform: translateY(-30px);
}
.dados-experiencia.active-animation{
    transform: translateY(0); 
}

 
ul.animation-target{
    transform: translateX(-60px);
}

ul.active-animation{
    transform: translateX(0);
}


.decoracao-projeto.active-animation{
    width: 70px;
    transition: 0.2s;
}
.sobre-projeto-texto.animation-target,
.impacto-box,.animation-target{
    transform: translateX(-30px);
    transition-delay: 0.1s;
}
.sobre-projeto-texto.active-animation,
.impacto-box.active-animation{
    transform: translateX(0);
}
.img-projeto.animation-target{
    transform: translateY(-20px);
    transition-delay: 0.1s;
}
.img-projeto.active-animation{
    transform: translateY(0);
}


.objetivo.animation-target{
    transform: translateY(-20px);
}
.objetivo:nth-child(2).animation-target{
    transition-delay: 0.2s;
}
.objetivo:nth-child(3).animation-target{
    transition-delay: 0.3s;
}
.objetivo.active-animation{
    transform: translateY(0);
}



.tecnologia.animation-target{
    transform: translateX(-20px);
}
.tecnologia.active-animation{
    transform: translateX(0);
}