.experiencias {
  position: relative;
  width: 100%;
  background: linear-gradient(180deg, #203d87, #34487c);
  padding: 150px;
  box-shadow: 0 -150px 0 0 #203d87;
}

.infos-exp {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-family: "lato-semibold";
}

.infos-exp h2 {
  font-size: 2.5rem;
}

.infos-exp h3 {
  font-size: 1.4rem;
}

.infos-exp h4 {
  font-size: 1.2rem;
}

.experiencias .section-titulo {
  color: #ffffff;
}

.experiencias-box {
  position: relative;
  width: 100%;
  font-family: "lato-regular";
  color: #ffffff;
}

.experiencia {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 0.05fr 0.95fr;
  gap: 30px;
  padding-bottom: 120px;
}

.dados-experiencia {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 40px;
}

.descritivo {
  font-family: "lato-light";
  font-size: 0.95rem;
  line-height: 1.35rem;
}

.experiencia::before {
  content: "";
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  left: 0;
  bottom: 1%;
  border-radius: 50%;
  transform: translateX(-40%);
  background: linear-gradient(180deg, #9ec5ff, #287bf8);
  z-index: 2;
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.315);
}

.experiencia::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(180deg, #ffffff, #dddddd);
}

.experiencia:last-child::after {
  display: none;
}

.experiencia:first-child::before {
  background: linear-gradient(180deg, #55ff33, #2d8b1a);
}

.lista-experiencias {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
